// =======================
// Forms
// =======================

form {
  margin-bottom: $spacer/2;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: $heavy;
  margin-bottom: $spacer / 4;
  padding: 0;
}

label {
  display: block;
  font-weight: $heavy;
  margin-bottom: $spacer / 4;
}

input,
select,
textarea {
  outline: 0 none;
  display: inline-block;
  font-family: $font;
  font-size: $secondary;
}
// Add your type inputs
#{$all-text-inputs},
textarea {
  appearance: none;
  background-color: $input-background;
  border: $border;
  border-radius: $radius;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
  margin-bottom: $spacer/1.5;
  padding: $spacer / 6;
  transition:background-color 0.8s ease-in 0.1s;
    
  &:hover {
    border: 1px solid $link-color;
}
  &:focus {
    border: 2px solid shade($link-color, 10%);
    box-shadow: inset 0 1px 1px rgba(70, 152, 190, 0.41);
    outline: none;
}
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  
  &:hover {
    border-color: $error-color;
}
}
  @include placeholder {
    color: $mid-gray;
    font-size: $secondary;
    line-height: 1.2;
}
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  margin-right: $spacer/4;
}

[type="file"] {
  margin-bottom: $spacer/2;
}

select {
  margin-bottom: $spacer/2;
}

// =======================
// Search Form
// =======================

 .search-box {

  form.search-and-submit {
    position: relative;

  input[type=search] {
    border-radius: $radius*2;
    padding: .65rem;
    font-style: italic;
    margin: 0;
}
  input[type=submit] {
  
}
}
}

////////////////////////////////////////////////////////////

// buttons
%btn {
  outline: 0 none;
  border-radius: $radius;
  border: none;
  cursor: pointer;
  display: inline-block;
  //font-family: $font;
  // font-size: $third;
  // font-weight: $heavy;
  -webkit-font-smoothing: antialiased;
  // line-height: 1;
  text-align: center;
  //padding: $spacer/3;
  // text-decoration: none;
  vertical-align: middle;
  user-select: none;
  white-space: nowrap;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);

  &:hover, &:focus {
  
}
  &:disabled {
     cursor: not-allowed;
     opacity: 0.5;

  &:hover {
    background-color: $error-color;
}
}
}

@mixin button-bg($bg) {
  background: $bg;
  box-shadow: inset 0 0 3px darken($bg, 5%);
  
  @include media(900) {
  
  &:hover {
    background:tint($bg, 20%);
    box-shadow: inset 0 0 4px darken($bg, 8%);
}
}
}

// Add button types
button,
.but,
.submit {
  @extend %btn;
  @include button-bg($blue);
  margin: 0;
}
