
// Fullscreen overlay

  .fullscreen-overlay{
    @include position(fixed, 0 null null 0);
    background: rgba(0, 0, 0, 0.96);
    @include size(100%);
    z-index: 1200;
    display: none;
     -webkit-overflow-scrolling: touch;
     overflow: scroll;
    .container{
      height: 100%;
    }
  }

  //Off Canvas

#offcanvas-menu {
    
    .container {
      width: 100%;

    }
    
    .offcanvas-nav {
      height: 100% !important;
    }
  }

  // Offcanvas toggle

  body {
    
    &.offcanvas-open, &.search-open{
      overflow-y: hidden !important;

      
    }

    &.offcanvas-open {

      .site-nav, #masthead.header-invert{
        .site-nav-logo a {
        
        color: $off-white;
        
      }
        .offcanvas-toggle{
          .toggle-line{
            background: $off-white;
          }
          span:first-of-type{
            opacity: 0;
            transition: all .2s;
          }
          span:nth-child(2), span:nth-child(3){
            position: absolute;
            top: 30px / 2;
            left: 0;
            transition: all .5s;
          }
          span:nth-child(2){
            transform: rotate(45deg);
          }
          span:nth-child(3){
            transform: rotate(-45deg);
          }
        }
      }
      svg .cls-3{
        stroke: $off-white;
      }
    }

     &.search-open{

      .site-nav-left {
        
         opacity: 0;
      }
     
      .search-toggle{
        svg {
          opacity: 0;
        }
        .line-container {
          transform: rotate(90deg);
          opacity: 1;
        }
      }
    }
}

.offcanvas-toggle{
    display: block;
    margin: 0;
    position: relative;
    @include size(30px);
   
    .toggle-line{
      display: block;
       @include size(30px, 2px);
      background: $off-white;
      margin-bottom: 7px;
    }
    span:first-of-type{
      transition: all .2s;
    }
    span:nth-child(2), span:nth-child(3){
      transition: all .5s;
    }
    &:hover{
      cursor: pointer;
    }
}

// Search toggle
  .search-toggle{
    //display: inline-block;
    position: relative;
    top: 1px;
    transition: all .3s ease-in-out;

    svg {
      transition: all .3s ease-in-out;
    }

    .line-container {
    @include position(absolute, 11px null null -2px);
      transition: all .3s ease-in-out;
      opacity: 0;

      .toggle-line {
        display: block;
        width: 30px;
        height: 2px;
        background: $off-white;
        transition: all .3s ease-in-out;

        &:first-of-type{
          transform: rotate(-45deg);
          position: fixed;
        }
        &:nth-child(2){
          transform: rotate(45deg);
        }
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  @include media(700) {
overflow-y: scroll;
  }
