// =======================
// Search
// =======================
// Search menu
#search-menu {
	padding: 50px 2%;
	.search-inner {
		position: relative;
		padding: $spacer $spacer/2 0 $spacer/2;

	}
}
.searchform {
	label {
		font-size: 1rem;
		font-weight: 700;
		letter-spacing: 2px;
		color: $off-white;
		display: block;
		width: 100%;
	}
	input[type="text"] {
		font-size: 60px;
		margin-bottom:$spacer;
		color: $blue;
		display: block;
		width: 100%;
		background: transparent;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 3px solid $blue;
		box-shadow: none;
		@include padding($spacer/5);
		&:focus {
			outline: none;
		}
	}
	input[type="submit"] {
		display: none;
	}
}

// Search loader
#search-loader-wrap {
	font-size: .7rem;
	font-weight: 700;
	letter-spacing: 3px;
	text-align: center;
}

//Results Page
#search-results {
	padding: 0 $spacer/1.5 $spacer/1.5 $spacer/1.5;
	h3 {
		font-size: 1.1rem;
		color: $white;
		text-align: center;
		letter-spacing: 2px;
		margin-top: 0;
	}
	h2 {
		font-size: 1.3rem;
		margin-bottom: 5px;
		line-height: 1.2;
		a {
			color: $blue;
			opacity: .8;
		}
	}
	p {
		font-weight: 300;
		font-size: 1rem;
		color: $white;
		line-height: 1.5;
		padding-bottom: $spacer/2;
		border-bottom: solid 1px $mid-gray;
		.more-link {
			font-size: .9rem;
			font-style: italic;
			letter-spacing: 1px;
		}
	}
}

@include media(600) {
	#search-menu {
padding: 50px 3%;
	.search-inner {
		padding: $spacer $spacer 0 $spacer;

	}
}
}

@include media(700) {
	#search-menu {
	padding: 50px 4%;
	input[type="text"] {
		font-size: 70px;
	}
}
}

@include media(900) {
.search-inner,
	#search-results {
		max-width: 800px;
		@include margin(null auto);
	}

	#search-menu {
	padding: 60px 0;
	
	input[type="text"] {
		font-size: 80px;
	}
}
#search-results h2 a:hover {
		opacity: 1;
}
}

// Search Result
#search-results {
	//display: none;
}

