

// also admin page header
.site-header-content-admin {
    padding: 15vw 8vw 4vw 8vw;
}

// see category Page
//.site-header-content,
.page-header-content {
   
}

// .site-header-content svg {
//     @include size(60px);
//         fill: $white;
// }




// Page

.page-template .post {
	padding-top: $spacer*2;
}
.page-template .post-header {
	margin-bottom: $spacer;
}

.page-header-content {
    padding-top: $spacer*2;
    h1 {
        //font-family: $font-black;
    font-size: 2.1rem;
    color: $white;
    margin: 0;
    }
    p {
        //font-family: $semi-bold;
     line-height: 1.4;
    font-size: 1rem;
    letter-spacing: 0.5px;   
    }
}

//static pages including Sitemap
.page {
    //padding: $spacer 0;
    background: $white;
}

.page-content {
    background: $white;
    @include padding($spacer $spacer/2);
    min-height: 250px;
//blocks come into effect on the content-single.scss
}

//search page
.page-header-content span {
    font-family: $font;
    font-size: $font-size;
    letter-spacing: 3px;
    color: $light-gray;
}

@include media(600) {
    
.page-content {
    @include padding( $spacer);
}
.page-header-content {
    h1 {
    font-size: 2.6rem;
    }
    span {
    font-size: $font-size*1.2;
}
}
}

@include media(700) {
    

.page-content {
    @include padding( $spacer*1.5);
}
.page-header-content {
    h1 {
    font-size: 2.8rem;
    }
    p {
    font-size: 1.2rem;   
    }
    span {
    font-size: $font-size*1.3;
}
}

}

@include media(900) {

.site-header-content-admin {
    padding: 8vw 6vw 10vw 6vw;
    min-height: 200px;
    max-height: 500px;
    text-align: center;

}


    .page-header-content {
    padding: 6vw 6vw 10vw 6vw;
    min-height: 200px;
    max-height: 500px;
    text-align: center;

}
    
    .page {
    //padding: $spacer*1.5 0;
}
.page-content {
   @include padding($spacer*2 $spacer*2.5);
    max-width: 920px;
    @include margin(null auto);
}
.page-header-content {
    h1 {
    font-size: 3rem;
    }
    p {
    font-size: 1.3rem;   
    }
}
}

// category header
.site-header-content p {
	color: $white;
}

