// Single page and default page


.post-header {
    position: relative;
    color: #fff;
    background: shade($dark-gray, 5%) no-repeat center center;
    background-size: cover;
    height: 50vw;
}

.post-header-content {
    margin: 60px 40px 0 40px;

    h1 {
    font-size: $font-size*1.3;
    color: $white;
    line-height: 1.2;
    margin: 0;
}
}

@include media(350) {
    .post-header-content {
    margin: 70px 50px 0 50px;

    h1 {
    font-size: $font-size*1.5;
}
}
}

@include media(400) {
    .post-header-content {
    margin: 85px 50px 0 50px;

     h1 {
    font-size: $font-size*1.6;
}
}
}

@include media(600) {
    .post-header-content {
    
    @include margin(120px auto 0 auto);
    max-width: 400px;
     h1 {
    font-size: $font-size*1.6;
}
}
}

@include media(700) {
    .post-header-content {
  max-width: 570px;
  @include margin(140px auto 0 auto);

  h1 {
    font-size: $font-size*2.5;
    }
}
}

@include media(900) {
    .post-header-content {
  @include margin(190px auto 0 auto);

  h1 {
    font-size: $font-size*3;
    }
}
}

@include media(1200) {
    .post-header-content {
  @include margin(290px auto 0 auto);

   h1 {
    font-size: $font-size*3.5;
    }
}
}

@include media(1600) {
    .post-header-content {
  @include margin(440px auto 0 auto);
  max-width: 100%;
  h1 {
    font-size: $font-size*4;

    }
}
}


.post {
    position: relative;
    z-index: 50;
    padding-top: $spacer;
    background: $white;

}

//Post-content and page content
@import "../blocks/blocks";


//footer meta
.post-meta {
    @include padding($spacer/2 $spacer/2 $spacer/6 $spacer/2);
}

.author-bio {
    
    border-bottom: 1px dashed $light-gray;
    //margin-bottom: $spacer/4;
    padding-bottom: $spacer/3;
    overflow: hidden;

    img {
    float: left;
        margin: 5px 13px 0 0;
    }

    p {
        font-size: $font-size/1.1;
        font-style: italic;
        text-align: left;
        margin-left: 9px;
         margin-bottom: 2px;
         color: $postcard-meta;

       
    }
}

.bigger {
    font-family: $heading-font;
    font-size: 1.3rem !important;
    font-style: normal !important;
    font-weight: 700;

    span {
       font-family: $font !important;
       font-size: 1.1rem !important;
       font-weight: 300; 
    }
    }
 

.post-meta-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: $spacer/4;
	p {
        display: block;
        font-family: $heading-font;
    font-size: $font-size/1.2;
   margin-bottom: $spacer/3;
   color: $postcard-meta;
}
}

.updated {
    line-height: 2;
}

.comments-link {
    //float: right;
    font-size: $font-size/1.2;
}

.cat a {
    font-size: $font-size/1.2;
    margin-right: 3px;

        border: $border;
        border-radius: 3px;
        padding: 3px 5px;

    &:before {
        content: "#";
        margin-right: 2px;
    }
}


@include media(600) {

.author-bio {
    padding-bottom: $spacer/1.5;

    img {
        margin: 0 13px 0 0;
    }

    p {
     line-height: 1.5; 
    }
}
}

@include media(700) {

.post-content {
    @include padding(1.5rem 7% null 7%);
}

.post-meta {
    @include padding(null $spacer*1.5 1px $spacer*1.5);
}

.author-bio {
 img {
        margin: 4px 13px 0 0;
    }
p {
     font-size: $font-size;
}
}
}

@include media(900) {
    
    .post-content,
    .post-meta {
    max-width: 920px;
    @include margin(null auto);
}

.post-meta {
@include padding(null $spacer*2);
}

.post-content {
    padding: 70px 100px 0;
    margin-top: -140px;
    background: rgba(255,255,255,0.97);
}

.post-content:before {
    content: "";
    position: absolute;
    top: 15px;
    left: -5px;
    z-index: -1;
    display: block;
    width: 20px;
    height: 280px;
    background: rgba(39, 44, 49, 0.15);
    filter: blur(5px);
    transform: rotate(-5deg);
}
.post-content:after {
    content: "";
    position: absolute;
    top: 15px;
    right: -5px;
    z-index: -1;
    display: block;
    width: 20px;
    height: 280px;
    background: rgba(39, 44, 49, 0.15);
    filter: blur(5px);
    transform: rotate(5deg);
}
.author-bio img {
        margin: 3px 13px 0 0;
}
}